* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 500vh;
}
h1{
    color: black;
}
.hero {
    height: 100vh;
    background-image: url('../imagenes/FOTO.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(50, 6, 245);
    padding: 20px;
}

.hero-content {
    animation: fadeIn 2s ease;
}

.hero h1{
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.hero h2{
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}   

.heart {
    font-size: 4rem;
    animation: pulse 1.3s infinite;
    margin-top: 25px;
}

.btn-next{
    margin-top: 35px;
    padding: 15px 35px;
    font-size: 1.2rem;
    border: none;
    border-radius: 40px;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    animation: float 2s infinite;
    transition: transform 0.3 ease;
}

.btn-next:hover{
    transform: scale(1.08);
}

.arrow {
    font-size: 1.5rem;
    animation: arrowMove 1s infinite;
}

@keyframes arrowMove {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    100% {
        transform: translateY(0);
    }   
}

@keyframes float{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body{
    opacity: 0;
    animation: fadePage 1.2s ease forwards;
}
@keyframes fadePage {
    to {
        opacity: 1;
    }
}